@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-signup {
  background-image: url("/images/download.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-signups{
  background-image: none;
}
.home-bg{
  background-image: url("/images/earth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300;
  width: 300;
}
@media screen and (max-width: 500px) {
  .home-bg{
    width: 200; 
    height: 200;
  }
}


@media screen and (min-width: 600px) {
  .bg-signup {
    background-image: none;
  }
  .bg-signups{
      background-image: url("/images/download.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  }
}
